* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./Images/home_slider.jpg);
    color: white;
    text-align: center;
    font-family: "Oswald", sans-serif;
}
.travel, .home, .about, .ser, .news, .contact, .call {
    display: inline;
    margin-left: 3rem;
}
.home:hover::before {
    height: 4rem;
    content: "";
    position: absolute;
    color: white;
    width: 1px;
    top: 0;
    border: 1px  solid white;
    background-color: white;
    transition: 2s;
}
#top li b:hover{
    color:red;
    transition: ease 2s;
}
.about:hover::before {
    height: 4rem;
    content: "";
    position: absolute;
    color: white;
    width: 1px;
    top: 0;
    border: 1px  solid white;
    background-color: white;
    transition: 2s;
}
.travel {
    padding-right: 8rem;
    font-size: 1.9rem;
}
.call {
    padding-left: 4rem;
    font-size: 1.2rem;
}
#top {
    margin-bottom: 2rem;
    margin-top: 3rem;
}
h1 {
    font-size: 6rem;
    margin-top: 8rem;
    font-weight: 700;
    word-spacing: 16px;
}
form {
    background-color: white;
    height: 5.5rem;
    width: 70rem;
    margin-left: 1rem;
    padding-top: 1.4rem;    
}
.form {
    background-color: rgb(255, 255, 255, 0.3);
    padding: 3rem 1rem 1rem 1rem;
    width: 80rem;
    margin-left: 8rem;
    margin-top: 3rem;
    height: 16rem;
    border-radius: 10px;
}
.side {
    list-style: none;
    position: absolute;
    right: 9rem;
    bottom: 37%;
}
.offers, .testimonials, .latest {
    padding-bottom: 2rem;
    word-spacing: 2rem;
    text-align: right;
    color: #e0dcde;
}
h4 {
    font-size: 1.2rem;
    color: black;
    background-color: white;
    width: 14rem;
    margin-left: 33rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.6rem 1rem;
}
.city, .depart, .arrival, .budget {
    background-color: #f2f5f6;
    height: 3rem;
    border: none;
    padding-left: 1.7rem;
    color: #777890;
    font-size: 14px;
}
 .city {
    width: 15rem;
    margin-right: 2rem;
    
}
.depart, .arrival {
    width: 9rem;
    margin-right: 2rem;
}
.submit {
    height: 3rem;
    width: 10rem;
    border-radius: 1.2rem;
    background-color: #181818;
    color: #f7f7f7;
    margin-left: 2rem;
    border: none;
}
